set timeout=0
set default=0

menuentry "BlockOS" {
    set gfxpayload=keep
    # A te splash.png logód betöltése
    background_image /bootloader/splash.png
    linux /boot/vmlinuz quiet splash
    initrd /boot/initrd.img
} 